* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(min-width:320px) {
    button {
        width: 45%;
    }
}

@media(min-width:620px) {
    button {
        width: 35%;
    }
}

@media(min-width:960px) {
    button {
        width: 25%;
    }
}



img {
    width: 200px;
    border: 1px solid #fff;
}

.card {
    width: 50%;
    margin: auto;
    margin-top: 40px;
}

button {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}